doctype
html
	head
		title #{title} - Fre's blog
		style(type="text/css"): include ../styles/index.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript'): include ../scripts/index.js

	body
		#header
			h2= username + "'s homepage"
		
		#homeMenu
			a#create(class='button' href='/home') Create
			a#viewOwn(class='button' href='/profile') Your blog posts
			a#all(class='button' href='/allposts') All blog posts
			a#logout(class='button' href='/logout') Log out

		#allPosts
			ul
				each i in data
					a#blogTitle(class="button" href='/blog/' + i.id)= i.title
					p= "Written by user: " + i.postid
					li= i.body
					a#buttonComment(class="button") Leave a comment
					#commentForm
						form(action="http://localhost:3000/addBlog" id="addBlog" method="post")
							textarea#comment(form="addBlog" name="bodyBlog") Write a comment..
							p
							input#postComment(type="submit", value="Post" name="submit")



	script(type='text/javascript'): include ../scripts/index.js