doctype
html
	head
		title #{title} - Fre's blog
		style(type="text/css"): include ../styles/index.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript'): include ../scripts/index.js

	body
		#header
			h2= username + "'s homepage"
		
		#homeMenu
			a#create(class='button' href='/home') Create
			a#viewOwn(class='button' href='/profile') Your blog posts
			a#all(class='button' href='/allposts') All blog posts
			a#logout(class='button' href='/logout') Log out
		#individualBlog
			ul
				h4= blogtitle
				p= "Written by user: " + userid
				li= blogtext
		#commentSection
				h4 Comments
				ul
					each i in comment
						p#commenter= "User " + i.author + " wrote the following comment:"
						p= '"' + i.comment + '"'
		
				
		#commentForm
			a#buttonComment(class="button") Leave a comment
			form(action="http://localhost:3000/addComment" id="addComment" method="post")
				textarea#comment(form="addComment" name="comment") Write a comment..
				p
				input#postComment(type="submit", value="Post" name="submit")





	script(type='text/javascript'): include ../scripts/index.js